<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team Report</title>
    <!--link rel="stylesheet" href="/go/src/html-to-pdf/templates/style.css" media="all" /-->
  </head>
  <body>
    <h1 id="menu">Repos</h1>
    {{ range $key, $value := .Repositories}}
    <a href="#{{$key}}">{{$key}}</a> {{ if eq $value.Details.Ref.Target.Commit.StatusCheckRollup.State "SUCCESS" }} ✅ {{ else }} 🚫 {{ end }}  <br/>
    {{ end }}

{{range .Repositories}}
<div id="{{.Details.Name}}"><h2><a href="{{.Details.Url}}">{{.Details.Name}}</a></h2> <a href="#menu">back</a></div>
<h3>Unreleased Commits</h3>
{{ if .UnreleasedCommits.Commits}}
{{ if .UnreleasedCommits.Summary}}<div> {{.UnreleasedCommits.Summary}} </div> {{end}}
<table>
  <tr align="left">
    <th>Commit</th>
    <th>Message</th>
    <th></th> 
  </tr> 
  {{range .UnreleasedCommits.Commits}}
  <tr>
    <td><a href="{{.Url}}">{{ .AbbreviatedOid}}</a></td> 
    <td>{{ abbrev 250 .Message }} </td>
  </tr>
  {{ end }}
</table>
{{ else }}
No unreleased commits
{{ end }}

<h3>Pull Requests</h3>
{{ if .Details.PullRequests.Nodes }}
<table>
  <tr align="left">
    <th>Created</th>
    <th>Build</th>
    <th>Mergeable</th>
    <th>Who</th>
    <th>What</th> 
  </tr> 
{{ range .Details.PullRequests.Nodes}}
  <tr>
    <td> {{ ago ( .CreatedAt | github_toDateTime ) }} ago </td>
    <td> {{ range .Commits.Nodes}} {{ if eq .Commit.StatusCheckRollup.State "SUCCESS"}} ✅ {{ else if eq .Commit.StatusCheckRollup.State "FAILURE" }} 🚫  {{ else}} ❓ {{ end }} {{ end }}</td>
    <td> {{ if eq .Mergeable "MERGEABLE"}}	✅ {{ else }} 🚫 {{ end }} </td>
    <td> {{ .Author.Login}} </td>
    <td> <a href="{{.Url}}">{{.Title}}</a> {{ if .IsDraft}} (DRAFT) {{ end}} </td>
  </tr>
{{ end }}
</table>
{{else}}
  No open pull requests
{{end}}

<h3>Vulnerability Alerts</h3>
      {{ $url := .Details.Url}}
      {{ $p := (predicate_severity .Details.VulnerabilityAlerts "CRITICAL" "HIGH") }}
{{ if $p.Edges }}
<table>
  <tr align="left">
    <th>Created</th>
    <th>Severity</th>
    <th>Eco System</th>
    <th>What</th> 
    <th>Link</td>
  </tr> 
      {{ range $p.Edges }}
        <tr>
          <td>{{ ago (.Node.CreatedAt | github_toDateTime) }} ago </td>
          <td>{{ .Node.SecurityVulnerability.Severity }} </td> 
          <td>{{ .Node.SecurityVulnerability.Package.Ecosystem }} </td>
          <td>{{ .Node.VulnerableManifestPath }} {{ .Node.SecurityVulnerability.Package.Name }}
          {{ .Node.VulnerableRequirements }}
          {{ if .Node.SecurityVulnerability.FirstPatchedVersion }}
            Fixed in {{ .Node.SecurityVulnerability.FirstPatchedVersion.Identifier }}
          {{ end}}
          </td>
          <td> <a href="{{ $url }}/security/dependabot/{{ .Node.Number }}">details</a> </td> 
          </tr>
          <td colspan=5>
          <small>{{ abbrev 1000 (.Node.SecurityVulnerability.Advisory.Description | github_toString ) }}</small>
          </td>
        </tr>
{{ end }}
</table>
{{ else }}
  No vulnerability alerts
{{ end }}
{{ end }}
  </body>
</html>
