<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PR Report</title>
  </head>
<body>
<table>
  <tr align="left">
    <th>Created</th>
    <th>Repo</th>
    <th>Build</th>
    <th>Mergeable</th>
    <th>Who</th>
    <th>What</th> 
  </tr>
{{ range $key, $value := .Repositories }}
{{ range $value.Details.PullRequests.Nodes }}
  <tr>
    <td> {{ .CreatedAt | github_toDateTime }} </td>
    <td> {{ $key }} </td>
    <td> {{ range .Commits.Nodes}}{{ if eq .Commit.StatusCheckRollup.State "SUCCESS"}}✅{{ else if eq .Commit.StatusCheckRollup.State "FAILURE" }}🚫{{ else}}❓{{ end }}{{ end }}</td>
    <td> {{ if eq .Mergeable "MERGEABLE"}}✅{{ else }}🚫{{ end }}</td>
    <td> {{ .Author.Login}} </td>
    <td> <a href="{{.URL}}">{{.Title}}</a> {{ if .IsDraft}} (DRAFT) {{ end}} </td>
  </tr>
{{ end }}
{{ end }}
</table>
</body>
</html>
